<h2>ジャンル：<%= @genre.name %></h2>
<div class="genre-search">
  <ul>
    <% @memos.each do |memo| %>
      <li>
        <div class="memo">
          <%= link_to memo.title, memo_path(memo.id), class: :memo__title%>
          <%= link_to "by #{memo.user.name}", user_path(memo.user.id), class: :memo__user %>
        </div>
      </li>
    <% end %>
  </ul>
</div>